body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #6273D0;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
}

.back{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
    flex-direction: row;
    margin-left: 30rem;
    margin-top: 30rem;
}

h2{
    margin-left: 20px;
    font-size: 2rem;
}

#logo{
    opacity: 80%;
    position: absolute;
    margin-left: 15rem;
}

.phome{
    color: rgba(24, 33, 82, 1);
    font-size: 2rem;
    width: 30rem;
    padding: 3rem;
    margin-top: 20rem;
}

.image1{
    display: flex;
    margin-top: 30rem;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
}